<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.dao.Mapper" > 
	<select id="getTestQuery" resultType="String">
		select date_format(current_timestamp(),'%Y%m%d');
	</select>
</mapper>